MT4/Plugin/UnityMT4/.vs/
MT4/Plugin/UnityMT4/Debug/Libraries - ショートカット.lnk
MT4/Plugin/UnityMT4/Debug/
MT4TestClient/.idea/
MT4TestClient/Assembly-CSharp.csproj
MT4TestClient/Library/
MT4TestClient/obj/
Plugins/MT4/.vs/
